@import "compass";

.grid-container {
  max-width: 1140px;
  margin: auto;
}

.grid-container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (min-width: 479px) {
  @for $i from 1 through 10 {
    .grid-#{$i * 10} {
      float: left;
      padding: 1em .5em 0;
      width: 10% * $i;
      @include box-sizing("border-box");

      section.grid-contained {
        background-color: lightgray;
      }
    }
  }
}
