/* line 3, ../sass/screen.scss */
.grid-container {
  max-width: 1140px;
  margin: auto;
}

/* line 8, ../sass/screen.scss */
.grid-container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (min-width: 479px) {
  /* line 18, ../sass/screen.scss */
  .grid-10 {
    float: left;
    padding: 1em .5em 0;
    width: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-10 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-20 {
    float: left;
    padding: 1em .5em 0;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-20 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-30 {
    float: left;
    padding: 1em .5em 0;
    width: 30%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-30 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-40 {
    float: left;
    padding: 1em .5em 0;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-40 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-50 {
    float: left;
    padding: 1em .5em 0;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-50 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-60 {
    float: left;
    padding: 1em .5em 0;
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-60 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-70 {
    float: left;
    padding: 1em .5em 0;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-70 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-80 {
    float: left;
    padding: 1em .5em 0;
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-80 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-90 {
    float: left;
    padding: 1em .5em 0;
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-90 section.grid-contained {
    background-color: lightgray;
  }

  /* line 18, ../sass/screen.scss */
  .grid-100 {
    float: left;
    padding: 1em .5em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 24, ../sass/screen.scss */
  .grid-100 section.grid-contained {
    background-color: lightgray;
  }
}
